/*  #term {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 20px 0;
 }
 */

h1 {
    size: 1rem;

}

*/ table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
    transition: all 0.3s ease-in-out;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
    animation: appear-letter 0.2s ease-in-out forwards;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: appear-letter;
}

tr:hover {
    background-color: #f5f5f5;
}

.copy.copied {
    background-color: green;
    animation: pulse 2s ease;
}

@keyframes pulse {
    0% {
        background-color: blue;
    }

    100% {
        background-color: green;
    }
}